.pontos {
    display: grid;
    grid-template-columns: 0.8fr 2fr 2fr;
    grid-gap: 5px;
    margin-bottom: 10px;
}

.pontos div, label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.pontos span {
    margin-right: 5px;

}

.calculadora {
    width: 600px;
}

.pontos {
    width: 100%;
    height: 40px;
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.primeira-linha{
    display: grid;
    grid-template-columns: 1fr;
}

.botoes-calculo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}

.calculadora{
    font-size: 14px;
}